<h2>New Comment</h2>
<%= form_for @comment, url: "/bowling_games/#{@bowling_game_id}/create-comment" do |f| %>
	<div class="comment">
		Comment: <%= f.text_area :body %>
	</div>
		<%= f.submit ("Submit") %>
<% end %>
